.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3{
  text-align: center;
}

button{
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background-color: #586d6d;
  margin: 0 20px;
  width: 140px;
  cursor: pointer;
}

button:hover{
  background-color: #2f4f4f;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mb-20{
  margin-bottom: 20px;
}
