.App {
    font-family: sans-serif;
    text-align: center;    
  }
  
  img{
      height: 300px;
      width: 300px;
      overflow: hidden;
      margin: 15px;
      box-shadow: 5px 10px 8px #888888;
      cursor: pointer;
  }

  .imageGrid{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
    color: #2f4f4f;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2f4f4f;
    color: #2f4f4f;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #2f4f4f;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  